body{
    background-image: url('../img/background.png');
    overflow: hidden;
}
.login__card{
    width: 400px;
    height: 350px;
    padding: 1rem;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  --bg-opacity: 0.5;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column
}
.login__card input{
    outline-style: none;
    border: none;
}

.card__matricule,.card__password {
    height: 2.5rem;
}

.card__matricule span,.card__password span{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #edf2f7;
}


.nav{
    height: 60px;
    
    background-color: #1a202c ;
    background-color:rgba(26, 32, 44, .5);

}

.navbar__left button:nth-child(-n+3),.navbar__right button{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #edf2f7;
    background-color:rgba(237, 242, 247,.5);
    outline-style: none;
    color:#edf2f7 ;
    font-size: larger;
    border: none;
}

.navbar__left input{
    outline-style: none;
    border: none;
    height: 2.5rem; 
    opacity: 0.5;
} 
.navbar__left .search-icon{
    height: 2.5rem;
    width: 2.5rem;
    font-size: larger;
    color:#edf2f7 ;
}

.direction__container {
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
    
}

.direction{
    height: 50px;
    
}

.direction span{
    background-color: #edf2f7;
    background-color:rgba(237, 242, 247,.5);
    font-size:xx-large;
    cursor:pointer
}
.direction span:hover{
    background-color: #4299e1;
    background-color:rgba(66, 153, 225, .75)
}
.direction__add input{
    height: 50px;
    outline-style: none;
    border: none;
    opacity: .5;
    font-size: x-large;
}

.direction__add span{
    height: 50px;
    width: 50px;
    outline-style: none;
    border: none;
    font-size: xx-large;
    color: #edf2f7 ;
}

.service__content{
    padding: 0 100px;
}

[class*="sub__service"]{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    height: 50px;
}
[class*="sub__service"] span{
    background-color: #edf2f7;
    background-color:rgba(237, 242, 247,.5);
    font-size:x-large;
    height: 50px;
}

[class*="sub__service"] span:hover{
    background-color: #4299e1;
    background-color:rgba(66, 153, 225, .75)
}
